 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 }
 body{
    width: 100%;
    margin: auto;
    background-color: rgb(242, 239, 239);
 }
 /* NAVBAR CSS START........ */

 #navbar{
    background-color: #232f3e;
    display:flex;

    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    
    margin: auto;
    /* border: 5px solid red; */

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
#left{
    
    justify-content: center;
}
#left img{
    width: 100%;
}
#right{
    display: flex;
   gap: 10px;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}


/* SCERCH BAR STAR  */
#mid{
    display: flex;
justify-content: center;
align-items: center;
   
}
#filter{
    width: 18%;
    height: 40px;
    color: white;
    background-color: #FF4500;
    border: none;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
    padding: 5px;
   
}

#search{
    width:23vw;
    height: 40px;
    border: none;
    padding: 10px;
    
}
#scr_button{
    border: none;
    background-color: white;
    margin-left:-4px;
    height: 40px;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    color: rgba(0, 0, 0, 0);
    
}
#mid input[type="submit"] {
background-image: url("https://www.industrybuying.com/static/svg/search-icon-header.svg");
background-position: center; 
background-repeat: no-repeat;
background-size: 15px;
}
/* END.... */


   

/* SIGN UP START.... */
#nav_sign{
    width: 100%;
    box-sizing: border-box;
    display: flex;    
    align-items: center;
    margin: auto;
    /* border: 1px solid red; */
}
#nav_sign div{
margin-left: 10px;
width: 10vw;
}
#nav_sign a{
    text-decoration: none;
    color: white;
    margin-top: 0;
    font-size: 90%;
    font-weight: 50;

}
#nav_sign img{
height: 45%;

}
#nav_sign h4{
    color: white;
    margin: 0;
    font-size: 100%;
}
/* END  ..... */
/* CART START..... */
#nav_cart{
    box-sizing: border-box;
display: flex;
padding-right:100px;
width: 100%;
height: 100%;
align-items: center;
margin: auto;
/* border: 1px solid red; */

}
#nav_cart img{
    height: 45%;   
}
#nav_cart a{
    text-decoration: none;
    color: white;
    margin-top: 5px;
    font-size: 90%;
    font-weight: 50;
    margin-left: 5px; 
}
#nav_cart div{
    display: flex;
    flex-direction: column;
}
#nav_cart button{
    align-self: flex-start;
    align-items: center;
    margin-left: 10px;
    border-radius: 8px;
    border: none;
    text-align: center;
    height: 15px;
    width: 50%;   
}
/* END...... */

/* DOWONLOAD APP CSS STAR.... */
#nav_down{
width: 100%;
box-sizing: border-box;
align-items: center;
margin: auto;
/* border: 1px solid red; */
}
#nav_down div{
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    box-sizing: border-box;
}
#nav_down h1{
    color: white;
    font-size: 60%;
}
#nav_down img{
    height: 35px;
    width:  35px;
}
#nav_down p{
    color: white;
    margin-top: 0;
    font-size: 60%;
    text-align: center;   
}
/* NAVBAR CSSSS ***********DONE */
/* <!-- BODY UPPER SLIDING WINDOW AND ALL OTHER DIV******* --> */
#main{
    width: 100%;
    margin-top: 70px;
}
#head{
    display: grid;
    grid-template-columns: repeat(4,250px);
    grid-template-rows: repeat(4,100px);
    width: fit-content;
    margin-top: 10px;
    gap: 10px;
    margin-left: 260px;
}
#head :nth-child(1) {
    grid-column-start: 1;
    grid-column-end:3 ;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  #head :nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  #head :nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  #head :nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  #head img{
    width: 100%;
    height: 100%;
  }
  #otpimg{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 20px;
    text-align: center;
  }
  #otpimg>img{
    width: 5vw;
    height: 5vh;
  }
  
  #otp input[type="submit"]{
    height: 100%;
    width: 15%;
    border: none;
    background-color: rgb(75, 75, 75);
    color: white;
    border-top-right-radius:2px ;
    border-bottom-right-radius:2px ;

  }
  #otp p{
    font-size: 70%;

  }
  #otp input[type="number"]{
    width: 80%;
    height: 100%;
    text-align: center;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border-top-left-radius:2px ;
    border-bottom-left-radius:2px ;
  }
  #slideshow img{
    width: 100%;
    height: 100%;

  }
  /* COMPLETED*******-
   */



   /* MAIN2 STARTED*********** */
   #main2{
    display: flex; 
    padding-top: 10px;
    width: fit-content;
    gap: 10px;
    margin: auto;
    margin-left: 260px;
    height: fit-content;
   }
   #left1{
    width: 100%;
    height: 100%;
   }

   #right1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    
   }
   #right1 :nth-child(1){
    width: 210px;
   }
   #right1 :nth-child(2){
    width: 210px;
    height: 237px;
   }
   #right1 img{
    width: 100%;
    height: 100%;
   }
   #product1{
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows:repeat(2,292px) ;
    gap: 4px;
    
   }
   #product1 img{
    width: 100%;
   }
   #product1 hr{
    border-top: 1px dashed #8c8b8b;
   }
   #detail{
    text-align: start;
    margin-left: 5px;
    font-size: 15px;
    color: rgb(49, 45, 45);
    
   }
   #des{
    text-align:start ;
    margin-left: 5px;
    font-size: 70%;
    color: rgb(89, 88, 88);

   }
   #price{
    text-align: end ;
    margin-right: 5px;
    color: #FF0000;
   }
   .card1{
    background-color: white;

   }
   #bar1{
    width: 100%;
   }
   #bar1 img{
    width: 100%;
   }
   /* main2 completetd   ****** */
   #bar2{
    width: 1030px;
    margin-left: 260px;
    padding-top: 10px;
   
   
    
   }
   #bar2 img{
    width: 100%;
   }
   #main3{
    display: grid;
    grid-template-columns: repeat(5,203px);
    grid-template-rows:repeat(2,292px) ;
    gap: 4px;
    margin-left: 260px;
   }
   #main3 img{
    width: 100%;
   }
   #main>h3{
    margin-left: 260px;
    margin-top: 20px;
    margin-bottom: 20px;
   }
   #main3 hr{
    border-top: 1px dashed #8c8b8b;
   }
   #main4{
    display: grid;
    grid-template-columns: repeat(5,203px);
    grid-template-rows:repeat(2,292px) ;
    gap: 4px;
    margin-left: 260px;
   }
   #main4 img{
    width: 100%;
   }
   #main4 hr{
    border-top: 1px dashed #8c8b8b;
   }
   /* new******************* */
   .navigation{
    display: flex;
    width: 1030px;
    margin-left: 260px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
   }
   .navigation button{
    border: none;
    color: white;
    background-color: #FF4500;
    width: 90px;
    height: 32px;
    border-radius: 2px;
   }

#main5{
    display: flex;
    width: 1030px;
    margin-left: 260px;

}
#left2{
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows:repeat(2,200px) ;
    gap: 2px;
    text-align: center;
}
#left2 img{
    width: 100%;
    
}
.card2{
    background-color: white;
    padding-top: 10px;
}
.card2>.det{
margin-top: 20px;
}
.card2>.des2{
    color: rgb(1, 155, 1);
    font-size: 12px;
    margin-top: 10px;
}
#right2{
width:235px;
height: 400px;
}
#right2 img{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 1304px) {
    #navbar{
        width: 100%;
        height: 10vh;
    }
    #right{
    gap: 5px;
    }
    #mid{
        display: flex;
        
    }
   
    #search{
        width: 20vw;
        
    }
    #nav_sign {
        font-size: 60%;
        padding: 5px;
    }
    #nav_cart{
        font-size: 60%;
        padding: 5px;

    }
    #nav_down{
        font-size: 40%;
        padding: 5px;

    }

}


   



 