body{
    background-image: url("https://www.couponmoto.com/images/img/industrybuying%20(1)-min.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.set{
    margin-top: 100px;
    width: 500px;
    height: 600px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12)
     0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
    text-align: center;
    background-color: #232f3e;
    padding: 20px;
    margin: auto;
}

.set img{
    margin-top: 50px;
    
    width: 40%;
}

#email{
    border:none;
    margin-left: 15px;
    width: 90%;
    height: 30px;
    box-sizing: border-box;
    padding-left:50px;
    letter-spacing: 2px; 
    word-spacing: 6px;
}
#password{
    border: none;
    margin-left: 15px;
    margin-top: 10px;
    width: 90%;
    height: 30px;
    box-sizing: border-box;
    padding-left:50px;
    letter-spacing: 2px; 
    word-spacing: 6px;
}
#mobile{
    border: none;
    margin-top: 10px;
    margin-left: 15px;
    width: 90%;
    height: 30px;
    box-sizing: border-box;
    padding-left:50px;
    letter-spacing: 2px; 
    word-spacing: 6px;
}
#cont{
    border: none;
    margin-top: 10px;
    margin-left: 15px;
    width: 90%;
    height: 30px;
    background-color: red;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
    letter-spacing: 2px; 
    word-spacing: 6px;
}

.back{
    margin-top: 10px;
    justify-content:space-evenly;
    
}
h2{
    color: white;
    letter-spacing: 2px; 
    word-spacing: 6px;
}
h3{
    color: white;
    letter-spacing: 1px; 
    word-spacing: 6px;

}
h4{
    color: white;
    word-spacing: 3px;
}
p {
    color: white;
    word-spacing: 3px;

}
a{
    color:red;
    letter-spacing: 3px; 
    word-spacing: 4px;
}
a:hover{
    background-color: rgba(97, 94, 94, 0.511);
}
